[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "npIntFactRep"]
	path = npIntFactRep
	url = https://github.com/cran/npIntFactRep
